*{
	margin: 0;
	padding: 0;
	border: 0px;
}
body{
	position: relative;
    line-height: 1.4;
    font-size: 14px;
    color: #000000;
    overflow-x: hidden;
    background: #fff;
    position: initial !important
}
#happy-babies{
	border: 10px solid #93c3c4;
	position: relative;
	right: 0;
	display: inline-block;
	width: 100%;
}
.top-bar{
	background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 10px 0;
    width: 100%;
}
.top-bar-content{
	display: flex;
	align-items: center;
}
.top-bar-content .top-bar-left{
	width: 100%;
	float: left;
}
.top-bar-content .top-bar-left a{
	color: #333;
}
.top-bar-content .top-bar-mid{
	display: none;
}
.top-bar-content .top-bar-right{
	width: 100%;
}
.top-bar-content .top-bar-right a{
	width: 100%;
	color: #333;
}
.top-bar-icon2 {
	float: right;
}
.top-bar-content a:hover{
	text-decoration: none;
}
.top-bar-content a span:hover{
	color: #93c3c4;
}
/* ------------------------------- */

.logo-header {
    text-align: center;
    padding: 0px 0px 10px;
}

.wrap-logo {
    text-align: center;
}
.logo-header .wrap-logo a{
	display: block;
    font-size: 32px;
    font-weight: bold;
    color: #93c3c4;
}
.logo-header .wrap-logo a img{
	margin: auto;
    width: 300px;
    height: auto;
}
/* ------------------- */
.fix{
	position: fixed !important;
	z-index: 10000;
	top: 0px;
    right: 119px;
    left: 119px;
    background: white;
}
.menu-header{
	position: relative;
	display: flex;
	justify-content: center;
}
#nav {
    position: relative;
    text-align: center;
    font-size: 13px;
    height: 100%;
}
#nav .main-nav ul {
    padding-left: 0;
    margin: 0;
}
#nav .main-nav>ul>li {
    display: inline-block;
    height: 100%;
    padding: 0;
    z-index: 5;
}
#nav .main-nav > ul>li>a {
	text-decoration: none;
    position: relative;
    z-index: 2;
    display: block;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
}
#nav .main-nav ul li a:hover{
	text-decoration: none;
}
.menutable{
	display: none;
}
#nav .menutable ul.menu2 div.menutable{
	position: absolute;
	z-index: 10;
}
#nav .menutable ul.menu2 li{
	display:block;
    height: 100%;
    padding: 0;
    z-index: 5;
}
#nav .menu-header1 li:hover >div.menutable{
	/* display: block;*/
} 

/* --------------------------- */
.search-mobile{
	display: none;
}



@media only screen and (max-width: 992px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 768px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 576px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}
}

/* ----------------------------------end header----------------- */

main .notification nav a {
    color: #333;
    text-decoration: none;
}
main .notification nav a:hover{
	text-decoration: none;
	color: #93c3c4;
}
main img {
    max-width: 100%;
    max-height: 100%;
}
/* -------------silder----------------- */
 div#list-example {
    float: left;
}

h4#list-item-1 {}

.scrollspy-example {
    float: left;
}
a.list-group-item.list-group-item-action.active {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
}