*{
	padding: 0;
	margin: 0;
	border: 0px;
}
body {
    line-height: 1.4;
    font-size: 14px;
    color: #000000;
    overflow-x: hidden;
    background: #fff;
    position: initial !important;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #93c3c4;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #93c3c4;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* ------------------------- */
#happy-babies{
	border: 10px solid #93c3c4;
	position: relative;
	right: 0;
	display: inline-block;
	width: 100%;
}
.top-bar{
	background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 10px 0;
    width: 100%;
}
.top-bar-content{
	display: flex;
	align-items: center;
}
.top-bar-content .top-bar-left{
	width: 100%;
	float: left;
}
.top-bar-content .top-bar-left a{
	color: #333;
}
.top-bar-content .top-bar-mid{
	display: none;
}
.top-bar-content .top-bar-right{
	width: 100%;
}
.top-bar-content .top-bar-right a{
	width: 100%;
	color: #333;
}
.top-bar-icon2 {
	float: right;
}
.top-bar-content a:hover{
	text-decoration: none;
}
.top-bar-content a span:hover{
	color: #93c3c4;
}
/* ------------------------------- */

.logo-header {
    text-align: center;
    padding: 0px 0px 10px;
}

.wrap-logo {
    text-align: center;
}
.logo-header .wrap-logo a{
	display: block;
    font-size: 32px;
    font-weight: bold;
    color: #93c3c4;
}
.logo-header .wrap-logo a img{
	margin: auto;
    width: 300px;
    height: auto;
}
/* ------------------- */
.fix{
	position: fixed !important;
	z-index: 10000;
	top: 0px;
    right: 119px;
    left: 119px;
    background: white;
}
.menu-header{
	position: relative;
	display: flex;
	justify-content: center;
}
#nav {
    position: relative;
    text-align: center;
    font-size: 13px;
    height: 100%;
}
#nav .main-nav ul {
    padding-left: 0;
    margin: 0;
}
#nav .main-nav>ul>li {
    display: inline-block;
    height: 100%;
    padding: 0;
    z-index: 5;
}
#nav .main-nav > ul>li>a {
	text-decoration: none;
    position: relative;
    z-index: 2;
    display: block;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
}
#nav .main-nav ul li a:hover{
	text-decoration: none;
}
.menutable{
	display: none;
}
#nav .menutable ul.menu2 div.menutable{
	position: absolute;
	z-index: 10;
}
#nav .menutable ul.menu2 li{
	display:block;
    height: 100%;
    padding: 0;
    z-index: 5;
}
#nav .menu-header1 li:hover >div.menutable{
	/* display: block;*/
} 

/* --------------------------- */
.search-mobile{
	display: none;
}



@media only screen and (max-width: 992px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 768px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 576px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}


/* --------------------------end header------------------------- */

main.main-index {
    position: relative;
    z-index: 99;
}

.notification {
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgb(166, 214, 215);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(138, 201, 202);
    border-image: initial;
    margin: 0px 0px 15px;
    padding: 10px;
}
.notification p {
    margin-bottom: 0;
}
/* -----------------------end-section-notifi------------------------------ */

 .section-slider :root {
  --main-white-color: white;
  --main-black-color: black;
}

.section-slider .static {
  position: static;
}

.section-slider .cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-slider .owl-carousel.owl-loaded.owl-drag {
    margin-bottom: 10px;
}
.section-slider .owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
}

.section-slider .owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}
.section-slider .owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
.section-slider .owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}
.section-slider .owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}
.section-slider .owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

.section-slider .owl-carousel .owl-dots,
.section-slider .owl-carousel .owl-nav {
  position: absolute;
}
.section-slider .owl-carousel .owl-dots .owl-dot,
.section-slider .owl-carousel .owl-nav [class*="owl-"]:focus {
  outline: none;
}
.section-slider .owl-carousel .owl-dots .owl-dot:hover span,
.section-slider .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}
.section-slider .owl-carousel .owl-nav {
   display: none;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  margin: 0;
}
.section-slider .owl-carousel .owl-nav svg {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.section-slider .owl-carousel .owl-nav button:hover svg {
  opacity: 1;
}
.section-slider .owl-carousel .owl-nav [class*="owl-"]:hover {
  background: transparent;
}
.section-slider .owl-nav {
    display: none;
} 
.section-slider span {
    display: none;
}

/* --------------------end-section-slider-------------------------------- */

.section-collection-heading-home {
    padding: 20px 0 30px;
}

.site-animation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-animation h2 {
    font-size: 27px;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
}
.site-animation h2 a{
	color: #44709d;
    line-height: 1.1;
    text-decoration: none;
}
.site-animation h2 a:hover{
	color:#93c3c4; 
}
.view-all a{
	-webkit-appearance: none;
    display: inline-block;
    background: #44709d;
    color: #fff;
    border: 2px solid #44709d;
    height: auto;
    width: auto;
    padding: 10px 1.4em 9px;
    font-family: inherit;
    font-size: 0.95em;
    vertical-align: middle;
    line-height: 1.2em;
    text-decoration: none;
    border-radius: 20px;
}
.view-all a:hover{
	text-decoration: none;
}
/* --------------------------------------- */


.section-collection-home1 .owl-stage {
  
}
.section-collection-home1 p.desc-customer {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.section-collection-home1 p.desc-customer a {
    color: #0000009c;
}
.section-collection-home1 p.desc-customer a:hover{
	text-decoration: none;
	color:#93c3c4;
}
.section-collection-home1 .owl-nav {
    display: none;
}

.section-collection-home1 .owl-dots {
    display: none;
}
.item{
    position: relative;
    overflow: hidden;
}
.layer {
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    background: rgb(0, 0, 0.5);
    z-index: 2;
    top: 0px;
}
.item:hover .layer{
    opacity: 1;
    visibility: visible;
    background: #0000009c;
    transition: 0.5s;
    transform: translateX(0);
    cursor: pointer;
}

/* ------------------------------- */

@media only screen and (max-width: 992px){
	section.section-notifi {
	    display: none;
	}
}

@media only screen and (max-width: 768px){
	section.section-notifi {
	    display: none;
	}

	.view-all {
	    display: none;
	}
	.site-animation h2 {
	text-align: center;
	width: 100%;
    font-size: 27px;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
	}
	.site-animation h2 a{
	width: 100%;
	color: #44709d;
    line-height: 1.1;
    text-decoration: none;
	}
}
@media only screen and (max-width: 576px){

}
/* ---------------------------end section-collection---------------- */

.section-banner {
    padding: 5px 0;
}
.homepage-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.homepage-image .box-image:nth-of-type(1) {
    flex-basis: 22.25%;
    max-width: 22.25%;
}
.homepage-image .box-image {
    padding: 5px;
}
.homepage-image .box-image .box-link {
    position: relative;
    display: block;
    overflow: hidden;
}
.homepage-image .box-image .box-link img {
    transition: transform 1.1s ease-out;
    width: 100%;
}
.homepage-image .box-image .box-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    color: #374858;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage-image .box-image .box-img-content {
    padding: 10px 20px;
    background: #93c3c4;
    text-align: center;
}
.homepage-image .box-image .box-image-title {
    text-transform: uppercase;
    margin: 0 0 5px;
    padding: 0;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}
.homepage-image .box-image .box-img-button {
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
}
.homepage-image .box-image:nth-of-type(2) {
    flex-basis: 34.25%;
    max-width: 34.25%;
}
.homepage-image .box-image {
    padding: 5px;
}
.homepage-image .box-image:nth-of-type(3) {
    flex-basis: 43.50%;
    max-width: 43.50%;
}
.homepage-image .box-image:nth-of-type(4) {
    flex-basis: 56%;
    max-width: 56%;
}
.homepage-image .box-image:nth-of-type(5) {
    flex-basis: 44%;
    max-width: 44%;
}
.homepage-image .box-image .box-link:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
/* ---------------------------- */

@media only screen and (max-width: 768px){
	.homepage-image .box-image {
	    flex-basis: 100%!important;
	    max-width: 100%!important;
	    padding: 5px;
	}
	.homepage-image .box-image .box-image-title {
    	font-size: 14px;
	}
}

/* ------------------------end section-banner-------------------------- */

/* --------------------------------- */

div.pro-loop {
    flex: 0 0 20%;
}
.section-collection-heading-home2 .site-animation {
    padding: 20px 0px 30px;
}
.section-collection-home2 .pro-loop {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #fff;
    margin-bottom: 10px;
}
.section-collection-home2 .pro-loop .product-img {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.pro-loop .product-img picture {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.pro-loop .product-img picture img{
	max-width: 100%;
}
.pro-loop .product-detail {
    padding: 20px 0;
    text-align: left;
}
.product-detail .box-pro-detail {
    z-index: 9;
    width: 100%;
}
.pro-loop .product-detail h3 {
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pro-loop .product-detail h3 a{
	color: #333333a6;
	text-decoration: none;
}
.pro-loop .product-detail h3 a:hover{
	color:#93c3c4;
}
p.pro-price {
    color: #000;
    font-weight: 600;
}
.layer {
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    background: rgb(0, 0, 0.5);
    z-index: 2;
    top: 0px;
}
.pro-loop:hover .layer{
    opacity: 1;
    visibility: visible;
    background: #0000009c;
    transition: 0.5s;
    transform: translateX(0);
    cursor: pointer;
}
/* ------------------------------------------- */


@media only screen and (max-width: 992px){
	div.pro-loop {
    	flex: 0 0 50%;
	}
}
/* -------------------end section-collection2 */

.section-home-infomation{
	margin: 40px 0px;
}
.section-home-infomation .wrap-info{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-home-infomation .info-text-content{
	font-weight: 500;
    margin: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
    margin: 0 0 20px;
}
.section-home-infomation .info-text-content h2{
	color: #44709d;
    margin: 0 0 13px 0;
    font-weight: 500;
    line-height: 1.2;
 }
.button {
    display: inline-block;
    background: #44709d;
    color: #fff;
    border: 2px solid #44709d;
    height: auto;
    width: auto;
    padding: 10px 1.4em 9px;
    font-size: 0.95em;
    vertical-align: middle;
    line-height: 1.2em;
    border-radius: 60px;
}
.wrap-info > div{
	width: 100%;
}
.info-image img{
	max-width: 100%;
}
.section-home-infomation .info-text-content p{
	font-family: 'Quicksand', sans-serif!important;
	font-size: 14px;
}
.section-home-infomation .info-text-content a{
	text-decoration: none;
}
/* ----------------------- */
@media only screen and (max-width: 768px){
	.section-home-infomation .wrap-info{
		flex-wrap: wrap;
	}
	.section-home-infomation .info-text-content p{
		font-size: 12px;
	}
}
/* ----------------------end section-home-infomation--------- */

.section-post-list .post-item {
    margin-bottom: 30px;
}
.section-post-list .post-item:hover img{
	transform: scale(1.1);
	transition: all 1s;
}
.section-post-list .post-feature {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}
.section-post-list .post-feature a {
    display: block;
}
.section-post-list img{
	width: 100%;
}
.section-post-list .post-item .post-info {
    text-transform: uppercase;
    margin-bottom: 10px;
    display: none;
}
.section-post-list .post-item h3 {
    font-size: 18px;
    line-height: 22px;
    position: relative;
    padding-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.section-post-list .post-item h3 a {
    color: #000000;
	text-decoration: none;
}
.section-post-list .post-item h3 a:hover{
	color: #93c3c4;
}
.line{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background: #44709d;
}
.section-post-list .post-descr  p {
    margin: 0px 0px 10px 0px;
    line-height: 21px;
    font-size: 14px;
    color: #333333a6;
}
.section-post-list a.readmore {
    display: inline-block;
    color: #333333a6;
    text-decoration: underline;
}
.section-post-list a.readmore:hover{
	color: #93c3c4;
}
/* ----------------------------------end section-post-list----------------  */

.section-gallery .site-animation2 {
    text-align: center;
}
.section-gallery .site-animation2 a{
	color: #44709d;
	text-decoration: none;
}
.section-gallery .site-animation2 a:hover{
	color: #93c3c4;
}
.gallery_item {
    padding: 0;
    position: relative;
    margin-bottom: 30px;
}
.before{
	background-color: #93c3c4;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	opacity: 0;
	background-color: #93c3c4;
	transform: scale(.80);
	transition: all ease 0.5s;
}
.gallery_item:hover .before{
	opacity: 0.3;
	transform: scale(1);
}
.gallery_item img {
    max-width: 100%;
}
.gallery_item img{
	width: 100%;
}
/* --------------end section-gallery--------- */

/* ----------------------------------------------------------end main--------------------------------- */

.main-footer {
    padding: 30px 0 0;
    background: #93c3c4;
    margin-top: 10px;
}
h4.footer-title {
    font-family: 'Quicksand', sans-serif!important;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    position: relative;
    line-height: 30px;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
}
.footer-content ul {
    margin-bottom: 15px;
}
.footer-content ul li {
    display: block;
    line-height: 28px;
    position: relative;
    padding-left: 0px;
}
.footer-content ul li a {
    position: relative;
    overflow: hidden;
    color: #333;
    text-decoration: none;
}
.footer-content ul li a:hover{
	color:#2aa0a2;
}
.footer-index .footer-content p {
    margin: 0 0 10px 0;
    line-height: 21px;
    font-size: 14px;
}
.footer-index .contact-form {
    position: relative;
}
.footer-index .contact-form .input-group {
    display: inline-block;
    margin: 0;
    width: 100%;
}
.footer-index .contact-form .input-group input {
    height: 46px;
    border: 1px solid #efefef;
    border-radius: 60px;
    width: 100%;
    font-size: 13px;
    padding-left: 5px;
}
.footer-index .contact-form .input-group button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    height: 35px;
}
.iframe iframe{
    max-width: 100%;
}
.footer-bottom{
	padding: 30px 0px;
	width: 100%;
}
.footer-bottom p {
    margin-bottom: 20px;
}
.footer-bottom a {
    color: #000000;
}
.social-list img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.social-list a{
	padding: 5px;
}
.social-list.row {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 768px){
	.footer-content.toggle-footer {
    	display: none;
	}
	.form_newsletter {
	    display: none;
	}

	.footer-content {
	    display: none;
	}

	.footer-block {
	}

	.iframe {
	    display: none;
	}
	h4.footer-title {
	    font-size: 14px;
	    padding: 0;
	    margin: 0px 0px 10px;
	}
}
